# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Model files
*.pt
*.onnx
*.tflite
runs/
wandb/

# Dataset
ai-model/data/train/
ai-model/data/val/
ai-model/data/test/
*.jpg
*.png
*.jpeg
!sample_images/

# Android
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
android-app/app/release/
android-app/app/debug/

# IDE
.vscode/
*.swp
*.swo
